<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/dashboard">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Devis</li>
</ol>
<h4>Devis</h4>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom et prénom client</th>
      <th scope="col">Société</th>
      <th scope="col">statut de validation</th>
      <th scope="col">statut de devis</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let devis of devisList">
      <th scope="row">{{devis._id}}</th>
      <td>{{devis.client.name}} {{devis.client.lastname}}</td>
      <td>{{devis.client.company}}</td>
      <td>{{devis.isValidCompany}}</td>
      <td>{{devis.isConfirmed}}</td>
      <td><button type="button" class="btn btn-primary" (click)="openModal(devisDetails)">Consulter</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #devisDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Devis Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
            #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
