<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/dashboard">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Blank Page</li>
</ol>
<h4>dashboard</h4>
<hr>
<p>This is a great starting point for new custom pages.</p>

<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-file-alt"></i>
        Devis
      </div>
      <div class="card-body mx-auto">
        <h1>23</h1>
      </div>
      <div class="card-footer small text-muted">
        <button class="btn btn-primary btn-block" routerLink="/dashboard/devis" type="button"> Consulter les devis
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-briefcase"></i>
        Projets</div>
      <div class="card-body mx-auto">
        <h1>23</h1>
      </div>
      <div class="card-footer small  text-muted">
        <button class="btn btn-primary btn-block" routerLink="/dashboard/projects" type="button"> Consulter les Projets
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-address-book"></i>
        Employés</div>
      <div class="card-body mx-auto">
        <h1>23</h1>
      </div>
      <div class="card-footer small text-muted">
        <button class="btn btn-primary btn-block" routerLink="/dashboard/employees" type="button"> Consulter les Employés
        </button>
        <!-- <br> -->
        <!-- <button class="btn btn-primary btn-block" routerLink="/dashboard/devis" type="button"> Ajouter Employé</button> -->
      </div>
    </div>
  </div>
</div>
